{% extends '/base.html' %}

{% block title %}Register/Agricultor{% endblock %}

{% block customCSS %}

{% endblock %}

{% block body %}

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btn-block" onclick="location.href='/registerA'">Agricultor</button>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary btn-block" onclick="location.href='/registerE'">Empresario</button>
    </div>
  </div>
</div>

{% endblock %}