{% extends './base2.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-3">
        <img src="{{ url_for('static', filename='img/' + current_user.a_imagenperfil) }}"
             alt="{{ current_user.a_username }}'s profile picture" class="img-thumbnail">
    </div>
    <div class="col-md-6">
        <!-- Aquí van las publicaciones de los amigos -->

    </div>
    <div class="col-md-3">
        <h3>Amigos sugeridos:</h3>

    </div>
</div>
{% endblock %}