<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Little Green</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">Little Green</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            <a class="nav-link" href="#">Misión</a>
            <a class="nav-link" href="register">Registrarse</a>
          </nav>
        </div>
      </header>

      <main class="px-3">
        <h1>Little Green</h1>
        <p class="lead">Somos una red social horientada a ayudar a pequeñas Pymes verdes del Perú, ayudandolas a conectarse entre si, y asi que ellas puedan crecer juntas.</p>
        <p class="lead">
          <a href="login" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Iniciar Sesión</a>
        </p>
      </main>

      <footer class="mt-auto text-white-50">
        <p><font color="black">@Grupo </font></p>
      </footer>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>