<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Mision</title>

    <!-- Bootstrap core CSS -->
    <link
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link
      href="{{ url_for('static', filename='css/cover.css') }}"
      rel="stylesheet"
    />
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0 center">Agricultores Unidos</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            <a class="nav-link" href="#">Misión</a>
            <a class="nav-link" href="register">Registrarse</a>
          </nav>
        </div>
      </header>

      <main class="px-3">
        <h1>Mision</h1>
        <p class="lead">
          Facilitar el comercio justo y sostenible entre las Pymes verdes y las
          empresas. Los objetivos son: 

          <ol class = "lead">
            <li>Fomentar el desarrollo económico y
              social de las zonas rurales, promoviendo la agricultura sostenible y
              apoyando a los pequeños agricultores.</li>
            <li>Promover el acceso a
              productos frescos y de alta calidad para las empresas interesadas,
              mejorando así su oferta y reduciendo los costos de transporte y
              almacenamiento.</li>
          </ol>
        </p>
      </main>
      <footer class="mt-auto text-white-50">
        <p><font color="black">@Grupo 6</font></p>
      </footer>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>