{% extends '/base.html' %}

{% block title %}Register/Empresa{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}">

{% endblock %}

{% block body %}
<form class="form-horizontal" action="/register" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Nombre de empresa</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName" placeholder="Nombre">
      </div>
    </div>

    <div class="form-group">
      <label for="inputUser" class="col-sm-2 control-label">Nombre de Usuario</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" id="inputUser" placeholder="Usuario">
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail" class="col-sm-2 control-label">Correo electrónico</label>
      <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail" placeholder="Correo electrónico">
      </div>
    </div>

    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Contraseña</label>
        <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña">
        </div>
    </div>

    <div class="form-group">
      <label for="inputCell" class="col-sm-2 control-label">Numero de Celular</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" id="inputCell" placeholder="Celular">
      </div>
    </div>

    <div class="form-group">
      <label for="inputDir" class="col-sm-2 control-label">Direccion</label>
      <div class="col-sm-10">
      <input type="text" class="form-control" id="inputDir" placeholder="Direccion">
      </div>
    </div>

    <div class="form-group">
        <label for="inputImg" class="col-sm-2 control-label">Imagen de perfil</label>
        <div class="col-sm-10">
        <input type="file" class="form-control-file" id="inputImg" name="profileImg">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Registrarse</button>
    </div>
    </div>
</form>

{% endblock %}