{% extends './base2.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="row">
    <!-- Agregar el campo CSRF token -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <div class="col-md-3">
        <img src="{{ url_for('static', filename='img/' + current_user.a_imagenperfil) }}"
             alt="{{ current_user.a_username }}'s profile picture" class="img-thumbnail">

        <div class="col-md-9">
            <h2>Dueño de empresa: {{ current_user.a_name }}</h2>
            <h2>Nombre de Empresa: {{ current_user.a_username }}</h2>
            <p>correo de empresa: {{ current_user.a_email }}</p>
        </div>
    </div>
    <div class="col-md-6">
        <form method="POST" action="/perfil" enctype="multipart/form-data">
            <!-- Agregar el campo CSRF token -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                <input type="text" name="titulo" placeholder="Título" class="form-control" required>
            </div>
            <div class="form-group">
        <textarea name="contenido" placeholder="Escribe algo..." class="form-control" rows="3"
                  required></textarea>
            </div>
            <div class="form-group">
                <input type="file" class="form-control-file" id="inputImg" name="imagen" accept="image/png"
                       placeholder="imagen">
            </div>
            <button type="submit" class="btn btn-primary">Publicar</button>
        </form>

        <hr>

        <h4>Mis publicaciones:</h4>
        <ul class="list-unstyled">
            {% for publicacion in publicaciones %}
            <li class="media">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">{{ publicacion.titulo }}</h5>
                    {{ publicacion.contenido }}
                    {% if publicacion.imagen %}
                    <br>
                    <img src="{{ url_for('static', filename='img/' + publicacion.imagen) }}"
                         alt="Imagen de la publicación"
                         class="img-fluid">
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Solicitudes pendientes:</h3>
        <!-- Aqui van los amigos sujeridos-->
        {% for solicitud in solicitudes %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ solicitud.username }}</h5>
                <p class="card-text">{{ solicitud.location }}</p>
                <form method="POST" action="{{ url_for('accept', request_id = solicitud.id) }}">
                    <!-- Agregar el campo CSRF token -->
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </form>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}