{% extends '/base2.html' %}

{% block title %}Perfil{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}"> 
<link rel="stylesheet" href="{{url_for('static', filename='css/perfil.css')}}"> 
{% endblock %}

{% block body %}
<body>
   <h1>Perfil de Empresa</h1>
    <h2>Nombre del dueño: {{ current_user.a_name }}</h2>
    <h2>Nombre de la empresa: {{ current_user.a_username }}</h2>
    <h2>Nombre del email: {{ current_user.a_email }}</h2>
</body>

{% endblock %}